 body{
    text-align: center;
 }
 .pagebutton{                        
  display: inline-block;
  background-color: silver;
  padding:0px 5px 0px 5px;
  margin: 3px;
  border: 2px solid;
  border-radius: 5px;
}  
.li{
  border: 2px solid aqua;
}
input{
    border-radius: 5px;
  }
  .post{
    border: 2px solid lightgrey;
    margin: 5px;
    border-radius: 5px;
  } 